body{
    background-color: bisque;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: wheat;
    padding: 15px 10px;
    margin: 5px 10px;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.navbar a:hover{
    color: rgb(209, 231, 250);
}
.searchbar{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    gap: 1rem;
}
.searchbar input{
    margin: 30px 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img_container{
    display: flex;
    justify-content: center;

}
.img_container img{
    cursor: pointer;
}

.img_container img:hover{

    box-shadow: 0 .2rem .5rem .1rem rgba(0, 0, 0, 0.3);
}